      :root {
        --primary-color: #638e99;
        --secondary-color: #f8f9fa;
        --background-color: #121212;
        --secondary-background-color: #212529;
        --border-color: #343a40;
        --text-color: #f8f9fa;
        --muted-text-color: #adb5bd;
        --link-color: #366780;
        --link-hover-color: #509abe;  

      }
      body {
        background-color: var(--background-color);
        color: var(--text-color);
        font-family: 'Arial', sans-serif;
      }

      .jumbotron {
        padding: 4rem 2rem;
        background-image: url('/CMS/images/az-landscape.png');
        background-size: cover;
        border-bottom: 4px solid var(--primary-color);
        text-align: center;
      }

      .navbar {
        background-color: var(--secondary-background-color);
      }

      .navbar-brand,
      .nav-link {
        color: var(--text-color) !important;
      }

      .navbar-brand:hover,
      .nav-link:hover {
        color: var(--primary-color) !important;
      }

      .btn-outline-success {
        border-color: var(--primary-color);
        color: var(--primary-color);
      }

      .btn-outline-success:hover {
        background-color: var(--primary-color);
        color: #ffffff;
      }

      footer {
        margin-top: 2rem;
        padding: 1rem;
        text-align: center;
        border-top: 1px solid var(--border-color);
        color: var(--muted-text-color);
      }

      .main-content {
        display: flex;
        gap: 2rem; 
        margin: 2rem;
      }

      .featured-article {
        flex: 2;
        background-color: var(--secondary-background-color);
        padding: 1.5rem;
        border-radius: 8px;
      }

      .article-list {
        flex: 1;
        background-color: var(--secondary-background-color);
        padding: 1.5rem;
        border-radius: 8px;
      }

      .article-list ul {
        list-style: none;
        padding-left: 0;
      }

      .article-list li {
        margin-bottom: 1rem;
      }

      .article-list a {
        color: var(--text-color);
        text-decoration: none;
      }

      .article-list a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
      }

      .article-titles-list{
        font-size: 1.5rem;
      }

      .welcome-user {
        color: var(--muted-text-color);
        margin-right: 1rem;
        text-decoration: none;
      }

      .navbar-brand img {
        height: 3rem;
        width: auto;
      }

      .edit-delete {
        color: var(--link-color);
        text-decoration: none;
      }

      .rounded-corners {
        border-radius: 1rem;
      }